body {
    background: red;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container div {
    background: mediumorchid;
    width: 100px;
    height: 20px;
}

p  {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        background: yellowgreen;
    }

    .container {
        justify-content: space-around;
    }

    p {
        display: block;
    }
}
